run = "./venv/bin/python3 main.py"

[deployment]
run = "./venv/bin/python3 main.py"
build = "rm -rf venv && virtualenv venv && ./venv/bin/pip install --upgrade pip setuptools && ./venv/bin/pip install -r requirements.txt"







