run = "PYTHONPATH=./deps python3 ai-dashboard/backend/main.py"

[deployment]
build = "python3 -m pip install setuptools --target=./deps && python3 -m pip install --use-deprecated=legacy-resolver --target=./deps -r ai-dashboard/backend/requirements.txt"
run = "PYTHONPATH=./deps python3 ai-dashboard/backend/main.py"
