fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
groq==0.5.0
pydantic==2.6.4
requests==2.31.0
pypdf==4.1.0
python-docx==1.1.0
python-multipart==0.0.9
bcrypt==4.1.2
PyJWT==2.8.0
resend==0.7.1
email-validator==2.1.1